#dynamicproblem {
  margin: auto;
  width: 50%;
  display: block;
}
#question {
  margin-top: -200px;
  color: red;
  font-weight: bold;
}
#solution {
  width: 640px;
  margin-left: -100px;
  height: 250px;
  display: block;
}
#submitsolution {
  color: #ffffff;
  background-color: green;
  border-radius: 4px;
  font-size: 22px;
  padding: 5px 5px 5px 5px;
  font-family: "Oldenburg", cursive;
}
