.row {
  margin-bottom: 0px;
  padding: 0;

  // background-color: green;
}

.tile {
  //display: inline-flex;
  display: inline-grid;
  row-gap: 0;
  margin: 0;
  padding: 0;
}

.grass {
  background-color: green;
}

.rock {
  background-image: url('../images/brick_brown1.png');
}

// .tree {
//   background-image: url('');
// }

#stats {
  text-align: center;
}
