.chakra-ui-light {
  margin-top: -50px;
  padding-top: 50px;
  background-color: grey;
}
.row {
  margin-bottom: 0px;
  padding: 0;

  // background-color: green;
}

.tile {
  //display: inline-flex;
  display: inline-grid;
  row-gap: 0;
  margin: 0;
  padding: 0;
}

.grass {
  background-image: url('../images/grass.png');
  width: 32px;
  height:32px;
}

.rock {
  background-image: url('../images/obstacles/brick_brown1.png');
}

.tree {
  background-image: url('../images/obstacles/tree2_red.png');
}

// .tree {
//   background-image: url('');
// }
