.row {
  margin: 0;
  padding: 0;
}

.tile {
  //display: inline-flex;
  display: inline-grid;
  row-gap: 0;
  margin: 0;
  padding: 0;
}

.grass {
  background-color: green;
}

// .rock {
//   background-image: url('');
// }

// .tree {
//   background-image: url('');
// }
